@CHARSET "ISO-8859-1";

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

table{
	width: 100%;
}

#container {
   min-height: 100%;
   height:100%;
   width: 100%;
}

#connexion{
	
	width: 500px;
	margin-top: 250px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid transparent;
 	border-radius: 4px;
 	border-color: #66ccff;
}

#explication-creation-auto-evaluation{
	
	width: 750px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;


}

#creation-auto-evaluation{
	
	width: 750px;
	padding-left: 15px;
	padding-right: 15px;


}


#information-creation-auto-evaluation{

	width: 750px;
	margin-top: 0px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;

 	
}

#explication-recherche-auto-evaluation{
	
	width: 750px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;

}

#recherche-auto-evaluation{
	
	width: 750px;
	padding-left: 15px;
	padding-right: 15px;

}

#information-recherche-auto-evaluation{

	width: 750px;
	margin-top: 0px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;

 	
}

#information-modification-auto-evaluation{

	width: 100%;
	margin-top: 0px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;

 	
}

#information-connexion{
	
	margin-top: 0px;
	
}

#info-login{
	display: none;
}

#info-password{
	display: none;
}

#info-competence{
	
	display: none;
	margin: 0px;
	padding: 0px;
	
}

#info-niveau-acquisition{
	
	display: none;
	margin: 0px;
	padding: 0px;
	
}

#info-ressenti{
	
	display: none;
	margin: 0px;
	padding: 0px;
	
}

#info-creation{
	
	display: none;
	margin: 0px;
	padding: 0px;
	
}

#info-recherche{
	
	display: none;
	margin: 0px;
	padding: 0px;
	
}

#caracter-restant{
 display: inline;
}

#label-nombre-caractere-restant{
	
	margin: 5px;
	font-size: 12px;
}

#nombre-caractere-restant{
	
	width: 35px;
	height: 22px;
	margin: 5px;
	color: rgb(0,255,0);
	font-size: 12px;
	display: inline;
}